body{
    margin: 0;
    padding: 0;
    background: #1a1a1a;
    color: #818181;
    #App{
        height: 100vh;
        position: relative;
        img{
            position: absolute;
            bottom: 0;
            height: 75%;
        }
    }
}