@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'DM Mono', monospace;
    #App{
        display: flex;
        align-items: flex-end;
        height: 100vh;
        position: relative;
        img{
            flex: 0.3;
            height: 90%
        }
        #rightWrap{
            flex-direction: column;
            letter-spacing: 7px;
            height: 100vh;
            flex: 0.7;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            .inWrap{
                height: 5vh;
            }
            .hidden{
                visibility: hidden;
            }
            #btn{
                margin-top: 3vh;
                border: solid 3px;
                font-size: 27px;
                letter-spacing: 0;
                padding: 0 2vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}